# Minimalistic .gitignore file. This file tells git to not track these files.

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Other files/folders
.ruff_cache
